# EditorConfig file
# https://editorconfig.org/

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
max_line_length = 80

# C/H files
[*.{c,h}]
indent_style = space
indent_size = 2
tab_width = 2
continuation_indent_size = 4

# RST (reStructuredText) files
[*.rst]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Makefile requires tabs
[Makefile]
indent_style = tab
indent_size = 2

# Limine configuration files
[limine.conf]
indent_style = space
indent_size = 2